.login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login img {
  margin: 5px auto;
  object-fit: contain;
  width: 130px;
  gap: 5px;

}
.login__container {
  width: 350px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid rgba(238, 212, 212, 0.973);
  padding: 30px;
}
.login__container h1 {
  font-size: 25px;
  margin: 20px 0;
}
.login__container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.login__container form div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.login__container form input {
  margin-bottom: 10px;
  padding: 8px 16px;
  background-color:white;
  width: 100%;
  border: none;
  border: 1px solid grey;
  border-radius: 3px;
}
.login__container form input:focus {
  outline: 2px solid skyblue;
}
.login__SignInButton {
  border: none;
  background-color:orange;
  border-radius: 5px;
  width: 100%;
  height: 30px;
  margin-top: 10px;
  cursor: pointer;
}
.login__SignInButton:hover{
    background-color: var(--primary-shade);
}
.login_container p {
  padding: 10px 0px;
  font-size: 12px;
}
.login__registerButton {
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 30px;
  margin-top: 10px;
  cursor: ns-resize;
}
.login__registerButton:hover{
    background-color: rgba(119, 136, 153, 0.589);
}
