
 /* ===== MOBILE FIRST (default = phone) ===== */


.products_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 3.5rem;
  padding: 1rem;
  box-sizing: border-box;
}

/* .products_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 2rem;
  padding: 1rem;
  width: 100%;
     box-sizing: border-box;
} */


.card__container {
  width: 100%;           
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 10px;
  position: relative;
  
}

.card__container img {
  width: 100%;
  height: 160px;
  object-fit: contain;
}

.button {
  display: block;             
  padding: 10px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  background-color: var(--primary-color);
  width: 100%;
  margin-top: 10px;
  border-radius: 30px;
}

.button:hover {
  background-color: var(--primary-shade);
   color: #ff7950;
   transform: scale(1.03);
}

/* .flex{
  box-shadow:none;
  height:auto;
  display: flex;
  gap: 50px;
  width: 100%;
   overflow-x: hidden;
} */

@media (hover: hover) {
  .card__container:hover .button {
    display: block;
  }
}


/* ===== TABLET ===== */
@media (min-width: 768px) {
  .products_container {
    grid-template-columns: repeat(2, 1fr);
   
  }
} 

/* ===== LAPTOP ===== */
@media (min-width: 1024px) {
  .products_container {
    grid-template-columns: repeat(4, 1fr);
  
  }

  .card__container img {
    height: 200px;
    
  }
}







