

.products_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 1rem;
  padding: 2rem;
}

.card{
  width: 100%;           
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 10px;
  position: relative;
}

.card img {
  width: 100%;
  height: 160px;
  object-fit: contain;
}
.info {
  margin-top: 10px;
}
.button {
  display: block;             
  padding: 10px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  background-color: var(--primary-color);
  width: 100%;
  margin-top: 10px;
  border-radius: 30px;
}
.button {
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 20px;
}

@media (max-width: 600px) {
  .button {
    width: 100%;
  }
}

:root {
  --primary-color: #f0c14b;
  --primary-shade: #ddb347;
}
.button:hover {
  background-color: var(--primary-shade);
   color: #e2876b;
   transform: scale(1.03);
}

@media (hover: hover) {
  .card__container:hover .button {
    display: block;
  }
}


/* ===== TABLET ===== */
@media (min-width: 768px) {
  .products_container {
    grid-template-columns: repeat(2, 1fr);
  }
} 

/* ===== LAPTOP ===== */
@media (min-width: 1024px) {
  .products_container {
    grid-template-columns: repeat(4, 1fr);
  }

  .card__container img {
    height: 200px;
  }
}





